
// -----------------------------------------------------------
//
// IMPLEMENTAÇÕES PARA A APLICAÇÃO
//

// O código abaixo não pertence ao framework, mas apenas à aplicação atual


body {
    background: #f5f5f5;
}


// 1. Logo
// ==========================================================================

.brand-logo { 

    font-size: 1.5rem !important;

    & img {
        float: left;
        height: 50px; 
        margin-top: 6px;
        margin-right: 10px;

        @media #{$large-and-up} {
            margin-left: 20px;
        }
    }
}

// 2. Lista
// ==========================================================================

.card-title {
    
    & small {
        font-size: 14px;
        color: #777;
    }

}
