
// -----------------------------------------------------------
//
// RALEWAY WEB FONT
// [node_modules/notosans-fontface]
//

// Para que a fonte esteja presente é preciso que 
// esteja instalada: "$ npm install fonts-raleway --save-dev"
// e habilitada no arquivo webpack.mix.js


@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin'),
       local('Raleway-Thin'),
       url('#{$raleway-font-path}/Raleway-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

