
// -----------------------------------------------------------
//
// RALEWAY WEB FONT
// [node_modules/notosans-fontface]
//

// Para que a fonte esteja presente é preciso que 
// esteja instalada: "$ npm install fonts-raleway --save-dev"
// e habilitada no arquivo webpack.mix.js


@font-face {
  font-family: 'Raleway';
  src: local('Raleway Medium'),
       local('Raleway-Medium'),
       url('#{$raleway-font-path}/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
