
// -----------------------------------------------------------
//
// RALEWAY WEB FONT
// [node_modules/notosans-fontface]
//

// Para que a fonte esteja presente é preciso que 
// esteja instalada: "$ npm install fonts-raleway --save-dev"
// e habilitada no arquivo webpack.mix.js

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Extra Bold'),
       local('Raleway-ExtraBold'),
       url('#{$raleway-font-path}/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
