
// -----------------------------------------------------------
//
// RALEWAY WEB FONT
// [node_modules/notosans-fontface]
//

// Para que a fonte esteja presente é preciso que 
// esteja instalada: "$ npm install fonts-raleway --save-dev"
// e habilitada no arquivo webpack.mix.js

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Heavy'),
       local('Raleway-Heavy'),
       url('#{$raleway-font-path}/Raleway-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
