
// -----------------------------------------------------------
//
// NOTOSANS WEB FONT
// [node_modules/notosans-fontface]
//

// Para que a fonte esteja presente é preciso que 
// esteja instalada: "$ npm install notosans-fontface --save-dev"
// e habilitada no arquivo webpack.mix.js


$webfont-primary-family: 'Noto Sans';

$notosans-font-path: "/fonts/notosans";

@font-face {
    font-family: 'Noto Sans';
    src: url("#{$notosans-font-path}/NotoSans-Regular.eot");
    src: local("Noto Sans Regular"), local("NotoSans-Regular"), url("#{$notosans-font-path}/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("#{$notosans-font-path}/NotoSans-Regular.woff2") format("woff2"), url("#{$notosans-font-path}/NotoSans-Regular.woff") format("woff"), url("#{$notosans-font-path}/NotoSans-Regular.ttf") format("truetype"), url("#{$notosans-font-path}/NotoSans-Regular.svg#NotoSans-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url("#{$notosans-font-path}/NotoSans-Bold.eot");
    src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("#{$notosans-font-path}/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("#{$notosans-font-path}/NotoSans-Bold.woff2") format("woff2"), url("#{$notosans-font-path}/NotoSans-Bold.woff") format("woff"), url("#{$notosans-font-path}/NotoSans-Bold.ttf") format("truetype"), url("#{$notosans-font-path}/NotoSans-Bold.svg#NotoSans-Bold") format("svg");
    font-weight: 700;
    font-style: standard;
}

@font-face {
    font-family: 'Noto Sans';
    src: url("#{$notosans-font-path}/NotoSans-Italic.eot");
    src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("#{$notosans-font-path}/NotoSans-Italic.eot?#iefix") format("embedded-opentype"), url("#{$notosans-font-path}/NotoSans-Italic.woff2") format("woff2"), url("#{$notosans-font-path}/NotoSans-Italic.woff") format("woff"), url("#{$notosans-font-path}/NotoSans-Italic.ttf") format("truetype"), url("#{$notosans-font-path}/NotoSans-Italic.svg#NotoSans-Italic") format("svg");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: url("#{$notosans-font-path}/NotoSans-BoldItalic.eot");
    src: local("Noto Sans BoldItalic"), local("NotoSans-BoldItalic"), url("#{$notosans-font-path}/NotoSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("#{$notosans-font-path}/NotoSans-BoldItalic.woff2") format("woff2"), url("#{$notosans-font-path}/NotoSans-BoldItalic.woff") format("woff"), url("#{$notosans-font-path}/NotoSans-BoldItalic.ttf") format("truetype"), url("#{$notosans-font-path}/NotoSans-BoldItalic.svg#NotoSans-BoldItalic") format("svg");
    font-weight: 700;
    font-style: italic;
}
