
// -----------------------------------------------------------
//
// THEME LUNA
//


// Mixins do Framework
// ==========================================================================

// @import "node_modules/materialize-css/sass/components/prefixer";
// @import "node_modules/materialize-css/sass/components/mixins";
// https://github.com/Dogfalo/materialize/pull/2271
@import "node_modules/materialize-css/sass/components/color";


// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Badges
//  3. Buttons
//  4. Cards
//  5. Collapsible
//  6. Chips
//  7. Date Picker
//  8. Dropdown
//  9. Forms
//  10. Global
//  11. Grid
//  12. Navigation Bar
//  13. Side Navigation
//  14. Photo Slider
//  15. Spinners | Loaders
//  16. Tabs
//  17. Tables
//  18. Toasts
//  19. Typography
//  20. Footer
//  21. Flow Text
//  22. Collections
//  23. Progress Bar


// 0. Colors
// ==========================================================================

$primary-color: #1976d2 !default;
$primary-text-color: #fff !default;

$primary-hover-color: lighten($primary-color, 15%) !default;
$primary-hover-text-color: #fff !default;

$secondary-color: color("light-blue", "lighten-3") !default;
$secondary-color-light: lighten($secondary-color, 15%) !default;
$secondary-color-dark: darken($secondary-color, 15%) !default;
$secondary-text-color: #fff !default;

$accent-color: color("orange", "darken-1") !default;
$accent-color-light: lighten($accent-color, 15%) !default;
$accent-color-dark: darken($accent-color, 15%) !default;
$accent-text-color: #fff !default;

$dark-color: color("blue-grey", "darken-4") !default;
$dark-color-light: lighten($dark-color, 15%) !default;
$dark-color-dark: darken($dark-color, 15%) !default;
$dark-text-color: color("blue-grey", "lighten-2") !default;

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default; 


// 1. Typography
// ==========================================================================

@import "./fonts/raleway/load";
@import "./fonts/raleway/100";
@import "./fonts/raleway/200";
@import "./fonts/raleway/300";
@import "./fonts/raleway/400";
@import "./fonts/raleway/500";
@import "./fonts/raleway/600";
@import "./fonts/raleway/700";
@import "./fonts/raleway/800";
@import "./fonts/raleway/900";

$off-black: rgba(0, 0, 0, 0.87) !default;

$h1-fontsize: 4.2rem !default;
$h1-fontweight: 400 !default;

$h2-fontsize: 3.56rem !default;
$h2-fontweight: 300 !default;

$h3-fontsize: 2.92rem !default;
$h3-fontweight: 400 !default;

$h4-fontsize: 2.28rem !default;
$h4-fontweight: 400 !default;

$h5-fontsize: 1.64rem !default;
$h5-fontweight: 400 !default;

$h6-fontsize: 1rem !default;
$h6-fontweight: 400 !default;


// 2. Navigation Bar
// ==========================================================================

$navbar-height: 64px !default;
$navbar-line-height: $navbar-height !default;
$navbar-height-mobile: 56px !default;
$navbar-line-height-mobile: $navbar-height-mobile !default;
$navbar-font-size: 1rem !default;
$navbar-font-color: #fff !default;
$navbar-brand-font-size: 2.1rem !default;
$navbar-bg-color: $primary-color !default;

// 3. Side Navigation
// ==========================================================================

$sidenav-font-size: 14px !default;
$sidenav-font-color: rgba(0,0,0,.87) !default;
$sidenav-bg-color: #fff !default;
$sidenav-padding: 16px !default;
$sidenav-item-height: 48px !default;
$sidenav-line-height: $sidenav-item-height !default;


// 4. Buttons
// ==========================================================================

// Shared styles
$button-border: none !default;
$button-background-focus: lighten($secondary-color, 4%) !default;
$button-font-size: 1rem !default;
$button-icon-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 2rem !default;
$button-radius: 2px !default;

// Disabled styles
$button-disabled-background: #DFDFDF !default;
$button-disabled-color: #9F9F9F !default;

// Raised buttons
$button-raised-background: $primary-color !default;
$button-raised-background-hover: $primary-hover-color !default;
$button-raised-color: #fff !default;
$button-raised-color-hover: #f5f5f5 !default;

// Large buttons
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: $button-height * 1.5 !default;

// Flat buttons
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;

// Floating buttons
$button-floating-background: $accent-color !default;
$button-floating-background-hover: $button-floating-background !default;
$button-floating-color: #fff !default;
$button-floating-size: 40px !default;
$button-floating-large-size: 56px !default;
$button-floating-radius: 50% !default;


// 5. Forms
// ==========================================================================

// Labels
$input-label-color: #777 !default;
$input-label-color-focus: $primary-color !default;

// Borders
$input-border-color: color("grey", "base") !default;
$input-border: 1px solid $input-border-color !default;
$input-border-color-focus: $primary-color !default;

// Text Inputs + Textarea
$input-height: 3rem !default;

$input-background: #fff !default;

$input-error-color: $error-color !default;
$input-success-color: $success-color !default;

$input-focus-color: $secondary-color !default;
$input-font-size: 1rem !default;
$input-margin-bottom: 20px;
$input-margin: 0 0 $input-margin-bottom 0 !default;
$input-padding: 0 !default;
$input-transition: all .3s !default;
$label-font-size: .8rem !default;
$input-disabled-color: rgba(0,0,0, .26) !default;
$input-disabled-solid-color: #BDBDBD !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$placeholder-text-color: lighten($input-border-color, 20%) !default;

// Radio Buttons
$radio-fill-color: $primary-color !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-color !default;

// Range
$range-height: 14px !default;
$range-width: 14px !default;
$track-height: 3px !default;

// Select
$select-border: 1px solid #f2f2f2 !default;
$select-background: rgba(255, 255, 255, 0.90) !default;
$select-focus: 1px solid lighten($secondary-color, 47%) !default;
$select-padding: 5px !default;
$select-radius: 2px !default;
$select-disabled-color: rgba(0,0,0,.3) !default;

// Switches
$switch-bg-color: $secondary-color !default;
$switch-checked-lever-bg: desaturate(lighten($secondary-color, 25%), 25%) !default;
$switch-unchecked-bg: #F1F1F1 !default;
$switch-unchecked-lever-bg: #818181 !default;
$switch-radius: 15px !default;


// 6. Badges
// ==========================================================================

$badge-bg-color: $secondary-color !default;
$badge-height: 22px !default;






// 4. Cards
// ==========================================================================

$card-padding: 24px !default;
$card-bg-color: #fff !default;
$card-link-color: $accent-color !default;
$card-link-color-light: lighten($card-link-color, 20%) !default;


// 5. Collapsible
// ==========================================================================

$collapsible-height: 3rem !default;
$collapsible-line-height: $collapsible-height !default;
$collapsible-header-color: #fff !default;
$collapsible-border-color: #ddd !default;


// 6. Chips
// ==========================================================================

$chip-bg-color: #e4e4e4 !default;
$chip-border-color: #9e9e9e !default;
$chip-selected-color: #26a69a !default;
$chip-margin: 5px !default;


// 7. Date Picker
// ==========================================================================

$datepicker-weekday-bg: darken($secondary-color, 7%) !default;
$datepicker-date-bg: $secondary-color !default;
$datepicker-year: rgba(255, 255, 255, .4) !default;
$datepicker-focus: rgba(0,0,0, .05) !default;
$datepicker-selected: $secondary-color !default;
$datepicker-selected-outfocus: desaturate(lighten($secondary-color, 35%), 15%) !default;


// 8. Dropdown
// ==========================================================================

$dropdown-bg-color: #fff !default;
$dropdown-hover-bg-color: #eee !default;
$dropdown-color: $accent-color !default;
$dropdown-item-height: 50px !default;





// 10. Global
// ==========================================================================

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


// 11. Grid
// ==========================================================================

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;





// 14. Photo Slider
// ==========================================================================

$slider-bg-color: color('grey', 'base') !default;
$slider-bg-color-light: color('grey', 'lighten-2') !default;
$slider-indicator-color: color('green', 'base') !default;


// 15. Spinners | Loaders
// ==========================================================================

$spinner-default-color: $secondary-color !default;


// 16. Tabs
// ==========================================================================

$tabs-underline-color: lighten($primary-color, 15%) !default;
$tabs-text-color: $primary-color !default;
$tabs-bg-color: #fff !default;


// 17. Tables
// ==========================================================================

$table-border-color: #d0d0d0 !default;
$table-striped-color: #f2f2f2 !default;


// 18. Toasts
// ==========================================================================

$toast-height: 48px !default;
$toast-color: #323232 !default;
$toast-text-color: #fff !default;





// 20. Footer
// ==========================================================================

$footer-bg-color: $dark-color !default;
$footer-copy-bg-color: darken($dark-color, 3%);
$footer-text-color: $dark-text-color !default;
$footer-text-hover-color: lighten($footer-text-color, 40%);


// 21. Flow Text
// ==========================================================================

$range : $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;


// 22. Collections
// ==========================================================================

$collection-border-color: #e0e0e0 !default;
$collection-bg-color: #fff !default;
$collection-active-bg-color: $secondary-color !default;
$collection-active-color: lighten($secondary-color, 55%) !default;
$collection-hover-bg-color: #ddd !default;
$collection-link-color: $secondary-color !default;
$collection-line-height: 1.5rem !default;


// 23. Progress Bar
// ==========================================================================

$progress-bar-color: $secondary-color !default;


// 24. Carousel
// ==========================================================================

$carousel-controls-size: 50 !default;
$carousel-controls-icon-size: $carousel-controls-size !default;
$carousel-controls-icon-color: $primary-color !default;
$carousel-controls-icon-hover: lighten($carousel-controls-icon-color, 15%) !default;
$carousel-controls-bg-color: rgba(0,0,0,0) !default;
$carousel-controls-bg-hover: rgba(0,0,0,0.1) !default;