
// -----------------------------------------------------------
//
// IMPLEMENTAÇÕES EXTRAS SCSS
//

// Abaixo estão as personalizações que o materializa não realiza e 
// também várias adaptações para facilitar a criação de temas


// 1. Tipografia
// ==========================================================================

$webfont-primary-family: 'Arial' !default;

html {
    font-family: "#{$webfont-primary-family}", sans-serif;
}

$h1-fontweight: 400 !default;
$h2-fontweight: 400 !default;
$h3-fontweight: 400 !default;
$h4-fontweight: 400 !default;
$h5-fontweight: 400 !default;
$h6-fontweight: 400 !default;

h1 {
    font-weight: #{$h1-fontweight};
}
h2 {
    font-weight: #{$h2-fontweight};
}
h3 {
    font-weight: #{$h3-fontweight};
}
h4 {
    font-weight: #{$h4-fontweight};
}
h5 {
    font-weight: #{$h5-fontweight};
}
h6 {
    font-weight: #{$h6-fontweight};
}

// 2. Navigation Bar
// ==========================================================================

.nav {
    background-color: #{$navbar-bg-color};    
}


// 3. Side Navigation
// ==========================================================================
// ...


// 4. Buttons
// ==========================================================================

.btn {
 
    &:hover {
        color: $button-raised-color-hover;
    }
}


// 5. Forms
// ==========================================================================

// label color
.input-field label {
    color: $input-label-color;
}
// label focus color
.input-field input[type=text]:focus + label {
    color: $input-label-color-focus;
}
// label underline focus color
.input-field input[type=text]:focus {
    border-bottom: 1px solid $input-border-color-focus;
    box-shadow: 0 1px 0 0 $input-border-color-focus;
}

/*
// valid color
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
// invalid color
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
// icon prefix focus color
.input-field .prefix.active {
    color: #000;
}
*/

// 6. Badges
// ==========================================================================
// ...







// 3. Carousel
// ==========================================================================

$carousel-controls-size: 50 !default;
$carousel-controls-icon-size: $carousel-controls-size !default;
$carousel-controls-icon-color: $primary-color !default;
$carousel-controls-icon-hover: lighten($carousel-controls-icon-color, 15%) !default;
$carousel-controls-bg-color: rgba(0,0,0,0) !default;
$carousel-controls-bg-hover: rgba(0,0,0,0.1) !default;

.carousel.carousel-slider {

    & .carousel-item {
        background-size: cover;
    }

    & .carousel-control-left,
    & .carousel-control-right {

        width: #{$carousel-controls-size}px;
        height: #{$carousel-controls-size}px;
        line-height: #{$carousel-controls-size}px;

        position: absolute;
        top: 50%;
        margin-top: -#{$carousel-controls-size/2}px;
        z-index: 999999;

        cursor: pointer;
        font-size: #{$carousel-controls-icon-size}px;
        text-align: center;

        transition: .2s;

        color: $carousel-controls-icon-color;
        background: $carousel-controls-bg-color;

        &:hover {
            color: $carousel-controls-icon-hover;
            background: $carousel-controls-bg-hover;
        }
    }

    & .carousel-control-left {
        left: 0px;
    }

    & .carousel-control-right {
        right: 0px;
    }

}


// 4. Footer
// ==========================================================================

.page-footer {
    color: $footer-text-color;

    & * {
        color: $footer-text-color;
    }

    & a:hover,
    & a:focus,
    & a:active {
        color: $footer-text-hover-color;
    }

    .footer-copyright {
        color: $footer-text-color;
        background-color: $footer-copy-bg-color;
    }
}
