
// -----------------------------------------------------------
//
// MATERIAL ICONS 
// [node_modules/material-design-icons]
//

// Para esta coleção de ícones esteja disponível, é preciso que 
// esteja abilitada no arquivo webpack.mix.js
// Para saber como usar: 
// http://materializecss.com/icons.html
// https://www.w3schools.com/icons/google_icons_intro.asp


$mi-font-path: "/fonts/material";
$mi-font-size-base:   14px !default;
$mi-line-height-base: 1 !default;

@font-face {
  font-family: 'Material Icons';
  src: url('#{$mi-font-path}/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('#{$mi-font-path}/Material Icons'),
       local('#{$mi-font-path}/MaterialIcons-Regular'),
       url('#{$mi-font-path}/MaterialIcons-Regular.woff2') format('woff2'),
       url('#{$mi-font-path}/MaterialIcons-Regular.woff') format('woff'),
       url('#{$mi-font-path}/MaterialIcons-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $mi-font-size-base;  /* Preferred icon size */
  display: inline-block;
  line-height: $mi-line-height-base;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
